/* =================================
   AUTH CSS
   ================================= */

.auth-container {
    min-height: calc(100vh - 70px);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;
}

.auth-card {
    width: 100%;
    max-width: 550px;

    background: white;

    padding: 40px;

    border-radius: 15px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

.auth-card h1 {
    text-align: center;
    color: #171c4a;
    margin-bottom: 10px;
}

.auth-card > p {
    text-align: center;
    color: #666;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 13px;

    border: 1px solid #ccc;
    border-radius: 7px;

    font-size: 15px;
    outline: none;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #171c4a;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
    min-height: 16px;
}

.success {
    color: green;
    font-size: 14px;
    margin-top: 10px;
}

.auth-button {
    width: 100%;
    padding: 14px;

    background: #171c4a;
    color: white;

    border: none;
    border-radius: 7px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

.auth-button:hover {
    background: #292f6b;
}

.auth-link {
    text-align: center;
    margin-top: 20px;
}

.auth-link a {
    color: #171c4a;
    font-weight: bold;
    text-decoration: none;
}