.page-container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

.page-container h1 {
    color: #171c4a;
    margin-bottom: 10px;
}

.student-card {
    background: #f5f6fa;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.student-card h3 {
    color: #171c4a;
    margin-bottom: 8px;
}